.home-container{
    width: 100%;
    border: solid 1px green;
}
.home-banners{
  width: 100%;
  aspect-ratio:2.5;
}

.mySlides{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio:2.5;
    /* height: 80vh; */
    object-fit:cover;
    -webkit-animation: fade 10s infinite;
    animation: fade 10s infinite;
    filter: brightness(0.8)
}
#pic1{
    animation-delay: 0s ;
}
#pic2{
    animation-delay: 5s ;
}

@-webkit-keyframes fade {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
@keyframes fade {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @media (max-width:720px) {
    .home-banners{
      width: 100%;
      height: 75%;
      aspect-ratio:2.5;
    }
    .mySlides{
      height: 75%;
    }
  }
  
  @media (max-width:375px) {
    .home-banners{
      width: 100%;
      height: 100%;
    }
    .mySlides{
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
    }
    
}