.home-commerces-container{
    width: 80%;
    min-height: 15rem;
    /* height: 40rem; */
    padding: 1vw;
    position: relative;
    background-color: white;
    border-radius: 2rem;
    margin-left: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    color:#8CC63F;
    font-size: 1.5rem;
    top: -2rem;
}

.commerces-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
@media (max-width:900px)  {
    .home-commerces-container{
        width: 90%;
        margin-left: 5%;
    }
}