.section4-container{
    /* border:solid 1px red; */
    width: 60%;
    height: 30vh;;
    margin-left: 20%;
    
}

.Section4-content{
    width: 100%;
    /* height: 50vh; */
    /* display: flex;
    justify-content: center; */
    position: relative;
    top:-25%;
    z-index: 4;
    background-color: white;
    border-radius: 2rem;
}

.h-slider{
    /* position: relative; */
    bottom: 0px;
    width: 100%;
}
.Slider-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 70%;
    border-radius: 2rem;
}

.Slider-container p{
    font-size: 1.5rem;
    font-weight: 700;
    color: #d90000
}
.img-slide{
    border-radius: 2rem;
}