.home-section1{
    /* border:solid 1px red; */
    width: 60%;
    height: 60vh;;
    margin-left: 20%;
    /* overflow-x: hidden; */
}
.h-s1-container{
    top: -65vh;
    /* border:solid 1px green; */
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-section1-title{
    /* border:solid 1px greenyellow; */
    font-size: 3.75rem;
    color:white;
    font-weight: 700;
    text-align: center;
    width: 70%;
}

.home-section1-headline{
    font-size: 1.25rem;
    color:white;
}
.home-section1-adheri{
    background-color: white;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
}

.hom1-s1-ad-title{
    font-family: 'Nunito';
    font-weight: 700;
    color:#d90000;
    font-size:1.5rem ;
}

.hom1-s1-ad-button{
    font-family: 'Nunito';
    font-size: 1rem;
    background-color: #d90000;
    color: white;
    padding: 0.5rem;
    border-radius: 1.5rem;
    text-decoration: none;
    display: inline-block;
    width: 30%;
    text-align: center;
    font-weight: 700;
    border:0
}
.hom1-s1-ad-button:hover{
    background-color: #fcb900;
}

.hom1-s1-ad-detalle{
    color:#7A7A7A
}

.home-s1-mid-title{
    color: #d90000;
    font-size: 1.5rem;
}

.hom1-s1-ad-link{
    text-decoration: none;
    color:#d90000
}
.hom1-s1-ad-link:hover{
    color: #fcb900;
}

.home-s1-descrption {
    color:#7A7A7A;
    font-size: 0.75rem;

}
.home-s1-descrption a{
    text-decoration: none;
    color:#d90000
}
.home-s1-descrption a:hover{
    color: #fcb900;
}
.h-s1-slider{
    /* position: relative; */
    width: 100%;
    
}

.img-slide{
    border-radius: 1rem;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

