.sponsors-logos-container{
    margin-bottom: 4rem;
    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.sponsor-logo-container{
    width: 10rem;
    object-fit: contain;
    
}