.res-detail-container{
    position: relative;
    top: 14rem;
    display: flex;
    flex-direction: column;
}
.res-red-background-container{
    display: flex;
    justify-content: center;
    /* background-color: #ED1C24; */
    width: 100%;
    /* font-family: 'Nunito', sans-serif; */
    /* color: white; */
    flex-direction: column;
}
.green-background-detail{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #D9E021;
    width: 100%;
    height: 100%;
    /* padding-top: 1rem; */
}
.red-background-detail{
    display: flex;
    justify-content: space-around;
    /* background-color: #ED1C24; */
    width: 100%;
    /* font-family: 'Nunito', sans-serif; */
    /* color: white; */
    padding-top: 2rem;
}
.commerce-detail-left{
    width: 30%;
}
.res-commerce-detail-left{
    width: 80%;
    margin-left: 10%;
}
.commerce-detail-right{
    width:40%
}
.res-commerce-detail-right{
    width:80%;
    margin-left: 10%;
}
.commerce-detail-nombre{
    font-size: 2rem;
    font-family: 'Nunito';
    font-weight: 700;
}
.detail-title{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 6rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.detail-image{
    width: 100%;
    object-fit: contain;
    border: 1px solid #8CC63F;
    border-radius: 1rem;
}
.detail-cat{
    font-size: 0.8rem;
    
}
.detail-logo-comercio{
    border: 1px solid #8CC63F;
    border-radius: 1rem;
    height: 6rem;
}
.commerce-detail-comercio{
    /* margin-top: rem; */
    font-family: 'Nunito';
}