.footer-landing{
    width:100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.foot-land-item{
    text-decoration: none;
    color: #D90000;
}