.navbar-container{
    width: 100%;
    /* height: 10rem; */
    display: flex;
    flex-direction: column;
    position:fixed;
    z-index: 2;
    background-color: white;
    padding-bottom: 1rem;
}
.upper-header-nav{
    display: flex;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.9rem;
    background-color: #d90000;
    color: white
    ;
}
.up-nav{
    position: relative;
    top: 0px;
    display: flex;
    width: 80%;
    height: 5rem;
    margin-left: 10%;
    justify-content: space-between;
}
.left-up-nav{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}
.left-up-nav p{
    color:#8CC63F;
}
.logo-nav-mo{
    height: 4rem;
}
.logo-nav-mo:hover{
    cursor:pointer
}
.nav-fecha-evento{
    font-size: 0.8rem;
    color:#8CC63F;
}
.nav-red-icon{
    height: 2rem;
}
.nav-redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.nav-redes-container{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
    .bottom-header-nav{
        display: flex;
        justify-content: center;
        font-size: 0.9rem;
        color: #FF0000;
        padding-top: 1rem;
    }

    @media (max-width:900px)  {
    .up-nav{
        width: 90%;
        margin-left: 5%;
    }
}
    @media (max-width:850px)  {
    .bottom-header-nav{
        font-size: 0.8rem;
    }
}
    @media (max-width:720px)  {
    .bottom-header-nav{
        font-size: 0.7rem;
    }
}