.input-searchbar{
    border: 1px solid #8CC63F;
    border-radius: 1.25rem;
    height: 1.5rem;
    box-sizing: border-box;
    width: 30%;
}
.res-input-searchbar{
    border: 1px solid #8CC63F;
    border-radius: 1.25rem;
    height: 1.5rem;
    box-sizing: border-box;
    width: 50%;
}

