.form-part-container{
    position: absolute;
    top:0px;
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-box{
    width: 50vw;
    height: 35vh;
    border: #7C3AED solid 4px;
    border-radius: 1rem;
    padding: 1rem;
    
}
.part-form-title{
    font-size: 1.5rem;
    font-family:  'Open Sans', sans-serif;
    font-weight: 700;
    color: #4C1D95;
    margin-bottom: 1rem;
}
.form{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.form-part-item{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.form-part-item input{
    height:2.5rem;
    border-radius: 5px;
    border: solid 1px #9CA3AF;
    outline:none;
}
.bottom-form-part{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    align-items: center;
}
.event-name{
    font-size: 1.5rem;
    color:#7C3AED
}
.bold{
    font-weight: 700;
}
.submit-form-part{
    width: 6rem;
    height: 2rem;
    font-family: 'Oswald';
    font-size: 1rem;
    background-color: #7C3AED;
    color:white;
    border: transparent;
    border-radius: 3px;
}
.part-add-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part-add-title{
    font-family:  'Open Sans', sans-serif;
    font-weight: 700;
    color: #7C3AED;
}