.res-navbar-container{
    width: 100%;
    /* height: 20rem; */
    display: flex;
    flex-direction: column;
    position:fixed;
    z-index: 2;
    background-color: white;
}
.res-upper-header-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    background-color: #d90000;
    color: white
    ;
}
.res-up-nav{
    display: flex;
    width: 90%;
    height: 40%;
    margin-left: 5%;
    justify-content: space-between;
    align-items: center;
}
.res-nav-redes{
    display: flex;
    align-items: center;
}
.res-navbar-social-container{
    display: flex;
    justify-content: space-around;
    width: 30%;
    color:#8CC63F;
}
.res-left-up-nav{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}
.res-left-up-nav p{
    color:#8CC63F;
}
.res-logo-nav-mo{
    height: 5rem;
}
.res-logo-nav-mo:hover{
    cursor:pointer
}
.res-nav-fecha-evento{
    font-size: 0.8rem;
    color:#8CC63F;
    font-weight: 700;
}
.res-nav-red-icon{
    height: 2rem;
}
.res-nav-redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.res-nav-redes-container{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
    .res-bottom-header-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9rem;
        color: #FF0000;
        padding-bottom: 0.1rem;
    }
    .res-sponsors-logos-nav-container{
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        justify-content:space-around;
        height: 100%;
        align-items: center;
    }
    .res-sponsor-logo-nav-container{
        height: 3.5rem;
        object-fit: contain;
        border-radius: 0.5rem;
        border: solid 2px #8CC63F
        /* width: 10rem; */
    }
    .res-nav-middle-container{
        padding-top: 1rem;
    }
    @media (max-width:900px)  {
    .res-up-nav{
        width: 90%;
        margin-left: 5%;
    }
}
    @media (max-width:850px)  {
    .res-bottom-header-nav{
        font-size: 0.8rem;
    }
}
    @media (max-width:720px)  {
    .res-bottom-header-nav{
        font-size: 0.7rem;
    }
}