.sponsors-logos-nav-container{
    margin-bottom: 4rem;
    width: 40%;
    display: flex;
    justify-content:space-around;
    height: 100%;
    align-items: center;
}

.sponsor-logo-nav-container{
    height: 3rem;
    object-fit: contain;
    border-radius: 0.5rem;
    border: solid 2px #8CC63F
    /* width: 10rem; */
}
/* .cripco-nav-logo{
    height: 5rem;
    border: none
} */

@media (max-width:850px) {
    .sponsor-logo-nav-container{
        height: 2.5rem;
    }
}
@media (max-width:720px) {
    .sponsor-logo-nav-container{
        height: 2rem;
    }
}
